<!DOCTYPE html>
<!--suppress ALL -->
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body>
	<div class="container">
		<div th:replace="fragments/header :: header"></div>
		<div class="container">

			<form class="form-horizontal"
				th:action="@{'/create/{id}' (id=${id})}" name="input_form"
				id="input_form" method="post" role="form">
				<div class="form-group">
					<div th:if="${id == null}">
						<input type="text" class="form-control" id="username"
							th:name="username" th:value="${username}" maxlength="25" /> <br>
					</div>
					<input type="password" class="form-control" id="password"
						th:name="password" th:value="${password}" maxlength="20" /> <br>
					<input type="text" class="form-control" id="name" th:name="name"
						th:value="${name}" maxlength="25" /> <br> <input type="text"
						class="form-control" id="mail" th:name="mail" th:value="${mail}"
						maxlength="25" /> <br>
					<div th:if="${id == null}">
						<input type="radio" class="form-check-input" th:name="sort"
							value="U" checked id="sort"> User<br> <input
							type="radio" class="form-check-input" th:name="sort" value="T"
							id="sort">Translator<br> <br>
					</div>
					<button type="submit" class="btn btn-primary">Enter</button>
				</div>
			</form>
		</div>
	</div>
</body>
</html>

<!-- 
					<div th:if="${not #lists.isEmpty(languages)}">
					<div th:if="${error != null}" th:text="${error}">


					<div class="form-group">
						<div class="form-check">
							<input class="form-check-input" type="checkbox" id="done"
								th:name="done" /> <label class="form-check-label" for="done">
								Done? </label>
						</div>
					</div>

            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
                 <div style="text-align: center"><a th:href="@{'/use/{id}'(id=${lang.langId})}">
                 </a></td>

	<form th:action="@{/login}" method="post">
 -->